<h1><%= t('.title') %></h1>

<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSCZ5qW41wtmD9HNw514U3NWEFbhjpYQFVXfQpCM3nagWnxBE2_8JDtxgHaznTgKyUSjFSVjLOJTLnu/embed?start=false&loop=true&delayms=3000" frameborder="0" width="780" height="467" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<%= render @posts %>
